@{
    ViewData["Title"] = "Home Page";
}

    <div id="slider">
    <div class="slider__text">
        <h1 class="slider__header">TÌM KIẾM</h1>
        <h1 class="slider__header">ĐẶT LỊCH</h1>
        <h1 class="slider__header">VÀ THUÊ XE <span>DỄ DÀNG</span></h1>
    </div>
    <img src="./img/slider__car.png" alt="" class="slider__img">
    
   
    <form class="put__board"  method="get">
        <div class="board__location">
            <h2 class="location__header">Địa điểm</h2>
            <select class="address__head" style="padding: 0;" name="location" required>
                <option value="">Chọn địa điểm</option>
                <option value="Hải Châu">Hải Châu</option>
                <option value="Ngũ Hành Sơn">Ngũ Hành Sơn</option>
                <option value="Liên Chiểu">Liên Chiểu</option>
                <option value="Hòa Vang">Hòa Vang</option>
                <option value="Sơn Trà">Sơn Trà</option>
                <option value="Thanh Khê">Thanh Khê</option>
                <option value="Cẩm Lệ">Cẩm Lệ</option>
            </select>

        </div>
        <div class="board__pickupDate">
            <h2 class="location__header">Ngày nhận Xe</h2>
            <input type="datetime-local" class="location__searchbtn" name="rentalDateTime" required>
        </div>
        <div class="board__returnDate">
            <h2 class="location__header">Ngày trả Xe</h2>
            <input type="datetime-local" class="location__searchbtn" name="returnDateTime" required>
        </div>
        <button class="search__btn" asp-controller="Customer" asp-action="SearchCar">Tìm Kiếm</button>
    </form>
   

</div>

<div id="contain">
    <div class="contain__logo">
        <a href="" class="logo__link">
            <div class="logo__link--image">
                <img src="./img/audi.jpg" alt="" class="logo__link--img">
            </div>
            <h1 class="logo__link--name">Audi</h1>
        </a>
        <a href="" class="logo__link">
            <div class="logo__link--image">
                <img src="./img/bmw.jpg" alt="" class="logo__link--img">
            </div>
            <h1 class="logo__link--name">BMW</h1>
        </a>
        <a href="" class="logo__link">
            <div class="logo__link--image">
                <img src="./img/ford.jpg" alt="" class="logo__link--img">
            </div>
            <h1 class="logo__link--name">Ford</h1>
        </a>
        <a href="" class="logo__link">
            <div class="logo__link--image">
                <img src="./img/huyndai.jpg" alt="" class="logo__link--img">
            </div>
            <h1 class="logo__link--name">Huyndai</h1>
        </a>
        <a href="" class="logo__link">
            <div class="logo__link--image">
                <img src="./img/kia.jpg" alt="" class="logo__link--img">
            </div>
            <h1 class="logo__link--name">Kia</h1>
        </a>
        <a href="" class="logo__link">
            <div class="logo__link--image">
                <img src="./img/toyota.jpg" alt="" class="logo__link--img">
            </div>
            <h1 class="logo__link--name">Toyota</h1>
        </a>
        <a href="" class="logo__link">
            <div class="logo__link--image">
                <img src="./img/vin.jpg" alt="" class="logo__link--img">
            </div>
            <h1 class="logo__link--name">Vinfast</h1>
        </a>
    </div>

    <div class="contain__use">
        <h1 class="use__heading">HƯỚNG DẪN ĐẶT XE</h1>
        <h4 class="use__description">Thuê Xe tự lái chỉ với 3 bước</h4>
        <div class="use__container">
            <div class="container__location">
                <div class="container__font"><i class="fa-solid fa-location-dot"></i></div>
                <h2 class="container__heading">Vị trí</h2>
                <p class="container__description">Chọn vị trí của bạn và tìm xe tốt nhất</p>
            </div>
            <div class="container__connect">
                <p>---------------</p>
            </div>
            <div class="container__location">
                <div class="container__font container__nobox"><i class="container__fixcolor fa-solid fa-calendar-days"></i></div>
                <h2 class="container__heading">Ngày nhận Xe</h2>
                <p class="container__description">Chọn ngày và thời gian bạn cần đặt Xe</p>
            </div>
            <div class="container__connect">
                <p>---------------</p>
            </div>
            <div class="container__location">
                <div class="container__font"><i class="fa-solid fa-car"></i></div>
                <h2 class="container__heading">Đặt Xe</h2>
                <p class="container__description">Chọn Xe phù hợp với nhu cầu</p>
                <p class="container__description">và chúng tôi sẽ giao đến cho Bạn </p>
            </div>
        </div>
    </div>

    <div class="contain__why">
        <img src="./img/why.jpg" alt="" class="contain__img">
        <div class="why__container">
            <h3 class="why__heading">LÝ DO CHỌN CHÚNG TÔI</h3>
            <h1 class="why__description">Chúng tôi cung cấp những dịch vụ tốt nhất đến khách hàng</h1>
            <div class="best__price">
                <div class="best__price--font">
                    <i class="fa-solid fa-sack-dollar"></i>
                </div>
                <div class="best__price--text">
                    <h2 class="best__price--heading">Giá cả hợp lí</h2>
                    <p class="best__price--des">Chúng tôi cam kết giá cả cho thuê thấp hơn so với các dịch vụ cùng lĩnh vực trên thị trường</p>
                </div>
            </div>
            <div class="best__price">
                <div class="best__price--font">
                    <i class="fa-solid fa-user-tie"></i>
                </div>
                <div class="best__price--text">
                    <h2 class="best__price--heading">Chủ xe thân thiện, nhiệt tình</h2>
                    <p class="best__price--des">Chúng tôi xây dựng một môi trường làm việc chuyên nghiệp</p>
                </div>
            </div>
            <div class="best__price">
                <div class="best__price--font">
                    <i class="fa-solid fa-handshake-simple"></i>
                </div>
                <div class="best__price--text">
                    <h2 class="best__price--heading">Đặt xe 24/24</h2>
                    <p class="best__price--des">Đặt xe bất cứ lúc nào, Chúng tôi sẽ giao xe trực tiếp cho Bạn</p>
                </div>
            </div>
            <div class="best__price">
                <div class="best__price--font">
                    <i class="fa-solid fa-message"></i>
                </div>
                <div class="best__price--text">
                    <h2 class="best__price--heading">Hỗ trợ kĩ thuật 24/7</h2>
                    <p class="best__price--des">Nếu có câu hỏi, hãy gọi cho chủ xe bất cứ lúc nào</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contain__deal">
        <h1 class="use__heading">HƯỚNG DẪN ĐẶT XE</h1>
        <h4 class="use__description">Thuê Xe tự lái chỉ với 3 bước</h4>
        <div class="grid">
            <div class="deal__container">
                <div class="deal__item">
                    <div class="deal__item-image">
                        <img src="./img/ford_ranger-f150.jpg" alt="" class="deal__img">
                    </div>
                    <div class="deal__content">
                        <p class="deal__feedback">
                            <i class="fa-solid fa-star"></i>
                            <span class="deal__point">4.8</span>
                            <span class="deal__user">[70 chuyến]</span>
                        </p>
                        <h3 class="deal__namecar">FORD RANGER F150</h3>
                        <div class="deal__intro">
                            <p class="deal__intro--1">Số tự động</p>
                            <p class="deal__intro--2">Giao xe tận nơi</p>
                        </div>
                        <div class="deal__footer">
                            <p class="deal__cost">500k/ngày</p>
                            <a href="" class="deal__watch">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="deal__item">
                    <div class="deal__item-image">
                        <img src="./img/ford_ranger-f150.jpg" alt="" class="deal__img">
                    </div>
                    <div class="deal__content">
                        <p class="deal__feedback">
                            <i class="fa-solid fa-star"></i>
                            <span class="deal__point">4.8</span>
                            <span class="deal__user">[70 chuyến]</span>
                        </p>
                        <h3 class="deal__namecar">FORD RANGER F150</h3>
                        <div class="deal__intro">
                            <p class="deal__intro--1">Số tự động</p>
                            <p class="deal__intro--2">Giao xe tận nơi</p>
                        </div>
                        <div class="deal__footer">
                            <p class="deal__cost">500k/ngày</p>
                            <a href="" class="deal__watch">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="deal__item">
                    <div class="deal__item-image">
                        <img src="./img/ford_ranger-f150.jpg" alt="" class="deal__img">
                    </div>
                    <div class="deal__content">
                        <p class="deal__feedback">
                            <i class="fa-solid fa-star"></i>
                            <span class="deal__point">4.8</span>
                            <span class="deal__user">[70 chuyến]</span>
                        </p>
                        <h3 class="deal__namecar">FORD RANGER F150</h3>
                        <div class="deal__intro">
                            <p class="deal__intro--1">Số tự động</p>
                            <p class="deal__intro--2">Giao xe tận nơi</p>
                        </div>
                        <div class="deal__footer">
                            <p class="deal__cost">500k/ngày</p>
                            <a href="" class="deal__watch">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="deal__item">
                    <div class="deal__item-image">
                        <img src="./img/ford_ranger-f150.jpg" alt="" class="deal__img">
                    </div>
                    <div class="deal__content">
                        <p class="deal__feedback">
                            <i class="fa-solid fa-star"></i>
                            <span class="deal__point">4.8</span>
                            <span class="deal__user">[70 chuyến]</span>
                        </p>
                        <h3 class="deal__namecar">FORD RANGER F150</h3>
                        <div class="deal__intro">
                            <p class="deal__intro--1">Số tự động</p>
                            <p class="deal__intro--2">Giao xe tận nơi</p>
                        </div>
                        <div class="deal__footer">
                            <p class="deal__cost">500k/ngày</p>
                            <a href="" class="deal__watch">Xem chi tiết</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="footer">
</div>
    