@{
    ViewData["Title"] = "BeCarOwner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyOToVer1._2.Models.ViewModels.CarOwnerViewModels

<form method="post" enctype="multipart/form-data">
    <div class="register__driver ">
    <div class="register__content">
        <div class="content__head-border">
            <div class="content__head">
                <div class="head__body">
                    <div class="active head__info--quantity">1</div>
                    <p class="body-text">Thông tin</p>
                </div>
                <div class="head__body">
                    <div class="head__info--quantity">2</div>
                    <p class="body-text">Cho thuê</p>
                </div>
                <div class="head__nobody">
                    <div class="head__info--quantity">3</div>
                    <p class="body-text">Hình ảnh</p>
                </div>

            </div>
        </div>
        <div class="content__body">
                @if (ViewBag.NumberBank == "Chua co")
                {
                    <h6 class="register__header" style="margin-bottom: 0px;">Thông tin tài khoản</h6>
                    <div class="fill">
                        <div class="col__left mt-32px">
                            <div class="line__form">
                                <label class="label">Số tài khoản</label>
                                <input style="    padding: 11px 20px 11px 20px;margin: 0; width: 90%;
    " placeholder="Nhập số tài khoản" class="register__input card__input" type="text" class="register__input" asp-for="Owner.owner_number_account" >
                                <span asp-validation-for="Owner.owner_number_account" class="text-danger" style="color : red"></span>
                            </div>
                        </div>
                        <div class="col__right mt-32px">
                            <div class="line__form">
                                <label for="" class="label">Tên Ngân Hàng</label>
                                <span class="wrap__select">
                                    <select asp-for="Owner.owner_name_banking" >
                                        <option value="0">--Chọn ngân hàng--</option>
                                        <option value="ACB">ACB</option>
                                        <option value="TPBANK">TPBANK</option>
                                        <option value="MBBANK">MBBANK</option>
                                        <option value="VIETCOMBANK">VIETCOMBANK</option>
                                        <option value="BIDV">BIDV</option>
                                        <option value="DAB">DAB(Đông Á Bank)</option>
                                        <option value="NAB">Nam A Bank</option>
                                        <option value="Sacombank">Sacombank</option>
                                        <option value="VietinBank">VietinBank</option>
                                        <option value="Agribank">Agribank</option>
                                    </select>
                                </span>
                                <span asp-validation-for="Owner.owner_name_banking" class="text-danger" style="color : red"></span>
                            </div>
                        </div>
                    </div>
                    <h6 class="register__header" style="margin-bottom: 14px;">Ảnh CCCD</h6>

                    <span style="color: red; font-size: 15px;">Lưu ý: Bao gồm cả mặt trước và sau</span>

                    <input class="input-file" style="margin: 14px 0 40px 0; border: 1px solid #ccc; width: 70%" type="file" name="identityPhotos" asp-for="OwnerIdentityPhoto.NameImg" accept="image/png, image/jpeg" multiple>
                }
                else 
                {
                    <h6 class="register__header" style="margin-bottom: 0px;">Thông tin tài khoản</h6>
                    <div class="fill">
                        <div class="col__left mt-32px">
                            <div class="line__form">
                                <label for="" class="label">Số Tài Khoản</label>
                                <input style="    padding: 11px 20px 11px 20px;margin: 0; width: 90%;
    " placeholder=@ViewBag.NumberBank class="register__input card__input" value="@ViewBag.NumberBank" type="text" class="register__input" asp-for="Owner.owner_number_account" readonly>
                            </div>
                        </div>
                        <div class="col__right mt-32px">
                            <div class="line__form">
                                <label for="" class="label">Tên Ngân Hàng</label>
                                <input style="    padding: 11px 20px 11px 20px;margin: 0; width: 90%;
    " placeholder=@ViewBag.Bank class="register__input card__input" value="@ViewBag.Bank" type="text" class="register__input" asp-for="Owner.owner_name_banking" readonly>
                            </div>
                        </div>
                    </div>  
                }
     
            <h6 class="register__header">Biển số xe</h6>
            <span style="color: red; font-size: 15px;">Lưu ý: Biển số sẽ không thể thay đổi sau khi đăng kí</span>
            <input class="register__input" type="text" class="register__input" asp-for="Car.car_number">
            <span asp-validation-for="Car.car_number" class="text-danger" style="color : red"></span>
            <h6 class="register__header">Thông tin cơ bản</h6>
            <span class="" style="color: red; font-size: 15px;">Lưu ý: Các thông tin cơ bản sẽ không thể thay đổi sau khi đăng kí</span>

            <div class="fill">
                <div class="col__left mt-32px">
                    <div class="line__form">
                        <label for="" class="label">Hãng Xe</label>
                        <span class="wrap__select ">
                            <select id="car-brand" asp-for="Car.car_brand">
                                <option value="0">Chọn hãng xe</option>
                                <option value="Audi">Audi</option>
                                <option value="BMW">BMW</option>
                                <option value="Ford">Ford</option>
                                <option value="Huyndai">Huyndai</option>
                                <option value="Kia">Kia</option>
                                <option value="Toyota">Toyota</option>
                                <option value="Vinfast">Vinfast</option>
                            </select>
                        </span>
                            <span asp-validation-for="Car.car_brand" class="text-danger" style="color : red"></span>
                    </div>
                </div>
                <div class="col__right mt-32px">
                    <div class="line__form">
                        <label for="" class="label">Mẫu xe</label>
                        <span class="wrap__select">
                            <select id="car-model" asp-for="Car.car_name">
                                <option value=""></option>
                            </select>
                        </span>
                            <span asp-validation-for="Car.car_name" class="text-danger" style="color : red"></span>
                    </div>
                </div>
            </div>
            <div class="fill">
                <div class="col__left mt-32px">
                    <div class="line__form">
                        <label for="" class="label">Số ghế</label>
                        <span class="wrap__select ">
                            <select asp-for="Car.car_capacity">
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </span>
                        
                    </div>
                </div>
                <div class="col__right mt-32px">
                    <div class="line__form">
                        <label asp-for="Car.car_model_year" class="label">Năm sản xuất</label>
                        <span class="wrap__select ">
                            <select asp-for="Car.car_model_year">
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                            </select>
                        </span>
                           
                    </div>
                </div>
            </div>

            <div class="fill">
                <div class="col__left mt-32px">
                    <div class="line__form">
                        <label for="" class="label">Truyền động</label>
                        <span class="wrap__select ">
                            <select asp-for="Car.car_tranmission">
                                <option value="Số tự động">Số tự động</option>
                                <option value="Số sàn">Số sàn</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col__right mt-32px">
                    <div class="line__form">
                        <label for="" class="label">Loại nhiên liệu</label>
                        <span class="wrap__select ">
                            <select asp-for="Car.car_fuel">
                                    <option value="Xăng">Xăng</option>
                                    <option value="Dầu diesel">Dầu diesel</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>

            <h6 style="margin-top: 18px;" class="register__header">Mức tiêu thụ nhiên liệu</h6>
            <span style="color: #a9aaad; font-size: 15px;">Số nhiên liệu cho quãng đường 100km</span>
            <input placeholder="10" class="register__input" type="text" class="register__input" asp-for="Car.car_consume_fuel">
                <span asp-validation-for="Car.car_consume_fuel" class="text-danger" style="color : red"></span>
            <h6 style="margin-top: 18px;" class="register__header">Mô tả</h6>
            <textarea asp-for="Car.car_description" class="textarea" placeholder="Huyndai Elantra số tự động đăng kí tháng 06/2018. Xe gia đình mới đẹp, nội thất nguyên bản, sạch sẽ, bảo dưỡng thường xuyên, rửa xe miễn phí cho khách.
                    Xe rộng rãi, an toàn, tiện nghi, phù hợp cho gia đình du lịch. Xe trang bị hệ thống cảm biến lùi, gạt mưa tự động, đèn pha tự động, camera hành trình, hệ thống giải trí AV cùng nhiều tiện nghi khác..."></textarea>
                <span asp-validation-for="Car.car_description" class="text-danger" style="color : red"></span>
        </div>

    </div>

    <div class="register__btn">
        <div class="wr-btn wr-btn--return">
            <a class="btn btn-secondary btn--m" disabled="">QUAY LẠI</a>
        </div>
        <div class="wr-btn wr-btn--next ">
            <a class="btn btn-primary btn--m">KẾ TIẾP</a>
        </div>
    </div>
</div>
<div class="register__driver-one disable">
    <div class="register__content">
        <div class="content__head-border">
            <div class="content__head">
                <div class="head__body">
                    <div class=" head__info--quantity">1</div>
                    <p class="body-text">Thông tin</p>
                </div>
                <div class="head__body">
                    <div class="active head__info--quantity">2</div>
                    <p class="body-text">Cho thuê</p>
                </div>
                <div class="head__nobody">
                    <div class="head__info--quantity">3</div>
                    <p class="body-text">Hình ảnh</p>
                </div>

            </div>
        </div>
        <div class="content__body">
            <h6 class="register__header">Đơn giá thuê mặc định</h6>
            <span style="color: #a9aaad; font-size: 15px; font-weight: 300;">Đơn giá áp dụng cho tất cả các ngày. Bạn có thuể tuỳ chỉnh giá khác cho các ngày đặc biệt (cuối tuần, lễ, tết...) trong mục quản lý xe sau khi đăng kí.</span>
            <span style="color: #a9aaad; font-size: 15px; font-weight: 300;
                    display: block; margin-top: 20px;">Nhập giá bạn muốn cho thuê (VD: 400k/ngày)</span>
            <input style="width: 20%;" placeholder="400k" class="register__input" type="text" class="register__input" asp-for="Car.car_price">
                <span asp-validation-for="Car.car_price" class="text-danger" style="color : red"></span>

            <h6 class="register__header">Địa chỉ</h6>

            <div class="fill">
                <div class="col__left ">
                    <div class="line__form">
                        <span class="wrap__select">
                            <select id="district" asp-for="Car.car_address">
                                <option value="0">Chọn quận</option>
                                    <option value="Ngũ Hành Sơn">Ngũ Hành Sơn</option>
                                    <option value="Hải Châu">Hải Châu</option>
                                    <option value="Sơn Trà">Sơn Trà</option>
                                    <option value="Cẩm Lệ">Cẩm Lệ</option>
                                    <option value="Hòa Vang">Hòa Vang</option>
                                    <option value="Thanh Khê">Thanh Khê</option>
                                    <option value="Liên Chiểu">Liên Chiểu</option>
                            </select>
                        </span>
                            <span asp-validation-for="Car.car_address" class="text-danger" style="color : red"></span>
                    </div>
                </div>
                <div class="col__right">
                    <div class="line__form">
                        <span class="wrap__select">
                            <select id="ward" asp-for="Car.car_ward_address">
                                <option value=""></option>
                            </select>
                        </span>
                            <span asp-validation-for="Car.car_ward_address" class="text-danger" style="color : red"></span>
                    </div>
                </div>
            </div>

            <div class="col__left ">
                <div class="line__form">
                    <label for="" class="label">Tên đường</label>
                    <span class="wrap__select wrap__select1">
                        <input type="text" placeholder="23 Lê Duẩn" class="nameStreet__input" asp-for="Car.car_street_address">
                    </span>
                        <span asp-validation-for="Car.car_street_address" class="text-danger" style="color : red"></span>
                </div>
            </div>

            <h6 class="mt-32px register__header">Điều khoản thuê xe</h6>
            <span style="color: #a9aaad; font-size: 15px; font-weight: 300;">Ghi rõ các yêu cầu để khách có thể thuê xe.</span>
            <textarea asp-for="Car.car_rule" style="margin: 12px 12px 20px 0 ; width: 600px;" class="textarea" placeholder="Không sử dụng xe vào mục đích phi pháp. Lái xe cẩn thận, giữ xe sạch sẽ, trả xe đúng giờ. Phụ thu 500k nếu hút thuốc lá trong xe."></textarea>
                <span asp-validation-for="Car.car_rule" class="text-danger" style="color : red"></span>
        </div>
    </div>
    <div class="register__btn">
        <div class="wr-btn wr-btn--return wr-btn--return1">
            <a class="btn btn-secondary btn--m" disabled="">QUAY LẠI</a>
        </div>
        <div class="wr-btn wr-btn--next wr-btn--next2">
            <a class="btn btn-primary btn--m">KẾ TIẾP</a>
        </div>
    </div>
</div>
<div class="register__driver-two disable">
    <div class="register__content">
        <div class="content__head-border">
            <div class="content__head">
                <div class="head__body">
                    <div class=" head__info--quantity">1</div>
                    <p class="body-text">Thông tin</p>
                </div>
                <div class="head__body">
                    <div class="head__info--quantity">2</div>
                    <p class="body-text">Cho thuê</p>
                </div>
                <div class="head__nobody">
                    <div class="active head__info--quantity">3</div>
                    <p class="body-text">Hình ảnh</p>
                </div>

            </div>
        </div>
        <div class="content__body">
            <h6 class="register__header">Hình ảnh</h6>
            <span style="font-size: 16px; font-weight: 300;">Chọn hình ảnh xe của bạn</span>
            <div class="register__btn">
                <input type="file" name="files" asp-for="CarImg.name_img" multiple >
            </div>
        </div>
    </div>
    <div class="register__btn">
        <div class="wr-btn wr-btn--return wr-btn--return2">
            <a class="btn btn-secondary btn--m" disabled="">QUAY LẠI</a>
        </div>
        <div class="wr-btn--next" style="border-radius: 6px;">
                <button style="text-align: center;
    width: 395px;
    height: 47px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    background-color: #3398d4;
    color: #fff;
    " class="btn-primary" id="register-btn" asp-controller="Customer" asp-action="BeCarOwner">
                    ĐĂNG KÝ
                </button>
        </div>
    </div>
</div>
</form>




<script>
    let nextPageTwo = document.querySelector('.wr-btn--next')
    let nextPageThree = document.querySelector('.wr-btn--next2');
    let firstPage = document.querySelector('.register__driver')
    let secondPage = document.querySelector('.register__driver-one')
    let thirdPage = document.querySelector('.register__driver-two')
    const returnPageOne = document.querySelector('.wr-btn--return1')
    const returnPageTwo = document.querySelector('.wr-btn--return2')
    const ownerDone = document.querySelector('.owner__success')
    const registerBtnOwner = document.querySelector('#register-btn')

    nextPageTwo.onclick = () => {
        firstPage.classList.add('disable');
        secondPage.classList.remove('disable');
    }

    nextPageThree.onclick = () => {
        secondPage.classList.add('disable');
        thirdPage.classList.remove('disable');
    }

    returnPageOne.onclick = () => {
        secondPage.classList.add('disable')
        firstPage.classList.remove('disable')
    }

    returnPageTwo.onclick = () => {
        thirdPage.classList.add('disable')
        secondPage.classList.remove('disable')
    }

    //registerBtnOwner.onclick = () => {
    //        thirdPage.classList.add('disable');
    //        ownerDone.classList.remove('disable');
    //    }

</script>

<script>
    const carBrandSelect = document.getElementById('car-brand')
    const carModelSelect = document.getElementById('car-model')

    carBrandSelect.addEventListener('change', (event) => {
        const selectedBrand = event.target.value

        if (selectedBrand === 'Audi') {
            carModelSelect.innerHTML = `
                    <option value="">Chọn mẫu xe</option>
                        <option value="A3">A3</option>
                        <option value="DMG">DMG</option>
                        <option value="A4">A4</option>
                    `;
        }
        else if (selectedBrand === 'Ford') {
            carModelSelect.innerHTML = `
                    <option value="">Chọn mẫu xe</option>
                        <option value="F150">F150</option>
                        <option value="F10">F10</option>
                        <option value="F150TI">F150TI</option>
                    `;
        }
        else if (selectedBrand === 'BMW') {
            carModelSelect.innerHTML = `
                    <option value="">Chọn mẫu xe</option>
                        <option value="I8">I8</option>
                        <option value="F1">F1</option>
                        <option value="I2">I2</option>
                    `;
        }
        else if (selectedBrand === 'Huyndai') {
            carModelSelect.innerHTML = `
                    <option value="">Chọn mẫu xe</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Diamon">Diamon</option>
                        <option value="MOn">MOn</option>
                    `;
        }
        else if (selectedBrand === 'Toyota') {
            carModelSelect.innerHTML = `
                    <option value="">Chọn mẫu xe</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Diamon">Diamon</option>
                        <option value="MOn">MOn</option>
                    `;
        }
        else if (selectedBrand === 'Kia') {
            carModelSelect.innerHTML = `
                    <option value="">Chọn mẫu xe</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Diamon">Diamon</option>
                        <option value="MOn">MOn</option>
                    `;
        }
        else if (selectedBrand === 'Vinfast') {
            carModelSelect.innerHTML = `
                    <option value="">Chọn mẫu xe</option>
                        <option value="VF8">VF8</option>
                        <option value="VF9">VF9</option>
                        <option value="DEMON">DEMON</option>
                    `;
        }

    })

</script>


<script>
    const addressDistrict = document.getElementById('district')
    const addressWard = document.getElementById('ward')

    addressDistrict.addEventListener('change', (event) => {
        var selectDistrict = event.target.value;
        if (selectDistrict === 'Ngũ Hành Sơn') {
            addressWard.innerHTML = `
                    <option value="">Chọn Phường</option>
                        <option value="Mỹ An">Mỹ An</option>
                        <option value="Khuê Mỹ">Khuê Mỹ</option>
                        <option value="Hòa Hải">Hòa Hải</option>
                        <option value="Hòa Quý">Hòa Quý</option>
                    `
        }
        else if (selectDistrict === 'Hải Châu') {
            addressWard.innerHTML = `
                    <option value="">Chọn Phường</option>
                        <option value="Thanh Bình">Thanh Bình</option>
                        <option value="Thuận Phước">Thuận Phước</option>
                        <option value="Thạch Thang">Thạch Thang</option>
                        <option value="Hải Châu I">Hải Châu I</option>
                        <option value="Hải Châu II">Hải Châu II</option>
                        <option value="Phước Ninh">Phước Ninh</option>
                        <option value="Hòa Thuận Đông">Hòa Thuận Đông</option>
                        <option value="Nam Dương">Nam Dương</option>
                    <option value="Hòa Thuận Tây">Hòa Thuận Tây</option>
                        <option value="Bình Hiên">Bình Hiên</option>
                        <option value="Bình Thuận">Bình Thuận</option>
                        <option value="Hòa Cường Bắc">Hòa Cường Bắc</option>
                        <option value="Hòa Cường Nam">Hòa Cường Nam</option>
                    `;
        }
        else if (selectDistrict === 'Sơn Trà') {
            addressWard.innerHTML = `
                    <option value="">Chọn Phường</option>
                        <option value="Thọ Quang">Thọ Quang</option>
                        <option value="Nại Hiên Đông">Nại Hiên Đông</option>
                        <option value="Mân Thái">Mân Thái</option>
                    <option value="An Hải Bắc">An Hải Bắc</option>
                        <option value="Phước Mỹ">Phước Mỹ</option>
                        <option value="An Hải Đông">An Hải Đông</option>
                        <option value="An Hải Tây">An Hải Tây</option>

                    `;
        }
        else if (selectDistrict === 'Thanh Khê') {
            addressWard.innerHTML = `
                        <option value="">Chọn Phường</option>
                        <option value="Tam Thuận">Tam Thuận</option>
                        <option value="Thanh Khê Tây">Thanh Khê Tây</option>
                        <option value="Thanh Khê Đông">Thanh Khê Đông</option>
                        <option value="Xuân Hà">Xuân Hà</option>
                        <option value="Tân Chính">Tân Chính</option>
                        <option value="Chính Gián">Chính Gián</option>
                        <option value="Vĩnh Trung">Vĩnh Trung</option>
                        <option value="Thạc Gián">Thạc Gián</option>
                        <option value="Hòa Khê">Hòa Khê</option>
                        <option value="An Khê">An Khê</option>

                    `;
        }
        else if (selectDistrict === 'Cẩm Lệ') {
            addressWard.innerHTML = `
                        <option value="">Chọn Phường</option>
                        <option value="Khuê Trung">Khuê Trung</option>
                        <option value="Hòa Phát">Hòa Phát</option>
                        <option value="Hòa An">Hòa An</option>
                        <option value="Hòa Thọ Tây">Hòa Thọ Tây</option>
                        <option value="Hòa Thọ Đông">Hòa Thọ Đông</option>
                        <option value="Hòa Xuân">Hòa Xuân</option>

                    `;
        }
        else if (selectDistrict === 'Liên Chiểu') {
            addressWard.innerHTML = `
                        <option value="">Chọn Phường</option>
                        <option value="Hòa Khánh Bắc">Hòa Khánh Bắc</option>
                        <option value="Hòa Minh">Hòa Minh</option>
                        <option value="Hòa Khánh Nam">Hòa Khánh Nam</option>
                        <option value="Hòa Hiệp Bắc">Hòa Hiệp Bắc</option>
                        <option value="Hòa Hiệp Nam">Hòa Hiệp Nam</option>

                    `;
        }
        else if (selectDistrict === 'Hòa Vang') {
            addressWard.innerHTML = `
                    <option value="">Chọn Phường</option>
                    <option value="Hòa Bắc">Hòa Bắc</option>
                        <option value="Hòa Ninh">Hòa Ninh</option>
                        <option value="Hòa Liên">Hòa Liên</option>
                        <option value="Hòa Sơn">Hòa Sơn</option>
                        <option value="Hòa Nhơn">Hòa Nhơn</option>
                        <option value="Hòa Phú">Hòa Phú</option>
                        <option value="Hòa Phong">Hòa Phong</option>
                        <option value="Hòa Châu">Hòa Châu</option>
                        <option value="Hòa Tiến">Hòa Tiến</option>
                        <option value="Hòa Khương">Hòa Khương</option>
                        <option value="Hòa Phước">Hòa Phước</option>

                    `;
        }


    })
</script>



