@model Customer
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="login__left">
            <img src="./img/login.png" class="login__img" alt="">
        </div>
        <form method="post">
        <div class="login__form" >
            <div class="login__form--name">Đăng ký</div>
            <label asp-for="Name" id="login__text" for="name">Tên hiển thị </label>
            <input type="text" placeholder="Nhập tên hiển thị..." id="name" class="login__name" asp-for="Name" required>
                <label id="login__text" for="number" asp-for="Contact">Số điên thoại </label>
            <input type="" placeholder="Số điện thoại..." id="number" class="login__number" asp-for="Contact" required>
                <label id="login__text" for="pass" asp-for="Password">Mật khẩu</label>
            <input type="password" id="pass" class="login__password" asp-for="Password"required>
            <label id="login__text" for="passagain">Nhập lại mật khẩu</label>
            <input type="password" id="passagain" class="login__password" asp-for="Password" required>

            <button class="login__btn">Đăng ký</button>
            <a class="login__return" asp-controller="Home" asp-action="Index">Return</a>

        </div>
        </form>
    </div>
</body>
</html>