
@{
    ViewData["Title"] = "ReviewContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CarReview

<form method="post" asp-controller="Customer" asp-action="ReviewContent">
    <div class="evaluate" style="margin: 5% auto 0;
    max-width: 800px;
    background-color: #f5f6fb;
    padding: 40px 60px;
    border-radius: 6px;">
        <h1 style="margin-bottom: 18px ;">Đánh giá trải nghiệm của bạn về dịch vụ</h1>
        <div class="stars">
            <input type="radio" id="star5" asp-for="ReviewScore" value="5">
            <label for="star5"></label>
            <input type="radio" id="star4" asp-for="ReviewScore" value="4">
            <label for="star4"></label>
            <input type="radio" id="star3" asp-for="ReviewScore" value="3">
            <label for="star3"></label>
            <input type="radio" id="star2" asp-for="ReviewScore" value="2">
            <label for="star2"></label>
            <input type="radio" id="star1" asp-for="ReviewScore" value="1">
            <label for="star1"></label>
        </div>
        <div class="comment">
            <label for="comment">Bình luận về dịch vụ: </label><br>
            <textarea style="width: 80%;" id="comment" asp-for="ReviewContent"></textarea>
        </div>
        <input type="hidden" asp-for="ReviewDate" value="@DateTime.Today"/>
        <input type="hidden" asp-for="car_id" value="@ViewBag.CarId"/>
        <input type="hidden" asp-for="CustomerID" value="@ViewBag.CustomerId"/>
        <div class="submit-btn">
            <button class="evaluate__btn">Gửi đánh giá</button>
        </div>
  </div>
  </form>
