
@{
    ViewData["Title"] = "SuccessBeCarOwner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="owner__success">
        <div class="owner__body">
            <div class="owner__font">
                <i class="fa-solid fa-check"></i>
            </div>
            <p>Bạn đã đăng ký trở thành chủ xe thành công</p>
        </div>
 </div>
