
@{
    Layout = null;
}
@model MyOToVer1._2.Models.ViewModels.CarOwnerViewModels
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmCarOwner</title>
</head>
<body>
    <p>@Model.Owner.owner_name_banking</p>
    <p>@Model.Owner.owner_revenue</p>
</body>
</html>
