
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Haas Grot Text R Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full {
    width: 100%;
}

.grid__row {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 14px;
    /* flex-wrap: wrap; */
    margin-right: -5px;
    margin-left: -5px;
}

.app__content {
    padding-top: 36px;
}

/* test */
.grid__column-3 {
    width: 300px;
    padding-right: 5px;
    padding-left: 5px;
}

.grid__column-3-3 {
    float: right;
    /* max-width: 100%; */
    padding-right: 5px;
    padding-left: 5px;
    float: right;
}

.grid__column-9 {
    width: 75%;
    padding-right: 5px;
    padding-left: 5px;
    /* display: block;   */
}

.grid__column-9-1 {
    padding-right: 5px;
    padding-left: 5px;
}

.disable {
    display: none;
}

.mr-38 {
    margin-left: 18px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3;
}

.navbar {
    background-color: #F5F6FB;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #000;
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
}

.navbar__name {
    margin-left: 80px;
}

.navbar__logout {
    margin-right: 80px;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    font-size: 18px;
    border: none;
}

    .navbar__logout:hover {
        cursor: pointer;
        color: #3083FF;
    }

    .navbar__logout i {
        margin-left: 8px;
        font-size: 16px;
    }

.container {
    margin-top: 134px;
    margin-bottom: 100px;
}

.category {
    background-color: #F5F6FB;
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
    text-align: center;
}

.category__heading {
    font-size: 17px;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
}

.category__heading-icon {
    font-size: 14px;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category__list {
    padding-left: 0px;
    list-style: none;
    padding-bottom: 8px;
    margin-left: 16px;
    list-style-type: none;
    padding: 10px 0 36px 0px;
    text-align: center;
}

.category__item-active {
    background-color: #92B9E3;
    display: block;
}

.category__item {
    position: relative;
    right: 0%;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 12px 16px;
    display: block;
    transition: right linear 0.1s;
    font-weight: 600;
    line-height: 22px;
    margin-right: 16px;
    border-radius: 60px;
    margin: 4px 16px 4px 0;
    cursor: pointer;
}

    .category__item:hover {
        background-color: #92B9E3;
        right: -4px;
    }

/* car report */
.lock__car,
.pause__car,
.report__car,
.approval__car {
    margin-left: 36px;
}

.myCar__header {
    margin-bottom: 32px;
    font-size: 38px;
    text-align: center;
}

.item__rental {
    list-style-type: none;
    background-color: rgb(145, 185, 227, 0.08);
    padding: 18px;
    border-radius: 6px;
    margin-top: 16px;
}

.link__rental {
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.item__rental:hover {
    /* opacity: 0.9; */
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
}

.img__rental {
    width: 155px;
    height: 120px;
    margin-right: 20px;
}

.rental__header {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.rental__name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

    .rental__name .contact {
        margin-left: 106px;
    }

    .rental__name span span {
        color: #3083FF;
    }

    .rental__name .contact .lock {
        font-size: 16px;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 6px;
        background-color: #BD637E;
        font-weight: 500;
        cursor: pointer;
    }

        .rental__name .contact .lock:hover {
            opacity: 0.9;
        }

/* car renting */
.car {
    background-color: #F5F6FB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: top ease-in 0.1s;
    top: 0;
}

    .car:hover {
        position: relative;
        top: -1px;
        box-shadow: 0 1px 20px 0 rgba(46, 27, 27, 0.05);
    }

.car__img {
    width: 100%;
    border-radius: 6px;
}

.car__body {
    border-radius: 6px;
    padding: 16px;
    line-height: 20px;
}

.car__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    line-height: 24px;
    color: #000;
    font-weight: 500;
}

.car__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.car__name {
    font-size: 18px;
    font-weight: 600;
}

.car-active {
    color: #3083FF;
    font-weight: 600;
    font-size: 15px;
}

.active {
    display: block;
}

.admin-item {
    display: none;
}

    .admin-item.active {
        display: block;
    }


/* modal */
.register__driver {
    padding: 100px 0;
    background-color: #e8eaef;
}

.register__content {
    max-width: 770px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
}

.content__body {
    padding: 40px 0;
}

.register__header {
    display: block;
    margin-bottom: 20px;
    color: #141414;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.5;
}

.register__input {
    background-color: #fff;
    height: 24px;
    border: 1px solid #e8eaef;
    border-radius: 3px;
    /* background-color: initial; */
    line-height: 1rem;
    outline: none;
    margin-top: 18px;
    width: 40%;
    margin-bottom: 50px;
    display: block;
    color: #3083FF !important;
    font-size: 18px;
    font-weight: 600;
}

.card__input {
    height: 18.4px;
    margin-top: 10px;
    width: 88%;
}


input, select, textarea {
    display: inline-block;
    background-color: #fff;
    width: 100%;
    padding: 14px 20px 13px;
    font-size: .875rem;
    font-family: "Sanomat Sans","Encode Sans Expanded",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    border: none;
    box-shadow: none;
}

.col__left {
    /* float: left; */
    text-align: left;
    width: 50%;
    padding-right: 30px;
}

.col__right {
    /* float: right; */
    /* text-align: right; */
    width: 50%;
    padding-right: 30px;
}

.line__form {
    margin-bottom: 20px;
}

.fill {
    display: flex;
    justify-content: space-between;
}

.content__body .line-form:after {
    clear: both;
    content: "";
    display: table;
}


.mt-32px {
    margin-top: 32px;
}

.input__model {
    outline: none;
    width: 85%;
}


.textarea {
    display: block;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #e8eaef;
    border-radius: 3px;
    line-height: 1.5;
    right: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.register__btn {
    max-width: 790px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
    text-align: center;
}

.wr-btn {
    width: 50%;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
}

.identity__card {
    display: flex;
    padding-bottom: 30px;
}

.identity__img {
    width: 250px;
}

.modal {
    display: none;
}

.register__btn {
    max-width: 790px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
    text-align: center;
}

.wr-btn {
    width: 50%;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
}

.wr-btn--return {
    background-color: #7e7f82;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: -50px;
}

.wr-btn--next,
.wr-btn--next {
    background-color: #3398d4;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 18px;
    margin-right: -50px;
}

.active {
    display: block !important;
}
