#main {
}

#header {
    background-color: #F5F6FB;
    height: 68px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 8px;
}

.nav__img {
}

.nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav__item {
    display: inline-block;
}

.nav__item--link {
    padding: 14px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    display: flex;
    text-decoration: none;
}

    .nav__item--link:hover,
    .nav__item:hover {
        cursor: pointer;
        font-weight: 600;
    }

.nav__item-pos {
    position: relative;
}

.nav__account {
    top: 50px;
    right: 0px;
    position: absolute;
    background-color: #fff;
    width: 150px;
    z-index: 1;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
    display: none;
}

.nav__account-link {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

    .nav__account-link:hover{
        color: #3083FF;
    }



.nav__item-pos:hover .nav__account {
    display: block;
}


.nav__link--border {
    background-color: #3398d4;
    color: #fff;
    border-radius: 60px;
    padding: 8px 20px;
    margin-left: 8px;
    font-weight: 400;
}

    .nav__link--border:hover {
        font-weight: 500;
        opacity: 0.9;
    }

.nav__item--img {
    width: 24px;
    border-radius: 60px;
    margin-right: 8px;
}

.ml-48 {
    margin-left: 48px;
}

.nav__item--name {
    font-weight: 600;
}

    .nav__item--name:hover {
        opacity: 0.8;
    }

#slider {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F5F6FB;
    justify-content: center;
    padding: 32px 0 140px 0;
}

.slider__header {
    font-size: 40px;
    color: #000;
    line-height: 50px;
    /* padding-left: 150px; */
    display: flex;
    margin-top: 4px;
}

    .slider__header span {
        margin-left: 12px;
        color: #3083FF;
    }

.slider__img {
    width: 50%;
    margin-left: 100px;
}

.put__board {
    position: absolute;
    background-color: #fff;
    bottom: -30px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 8px 18px;
    box-shadow: 4px 8px 14px rgb(0 0 0 / 30%);
    border-radius: 8px;
}

.board__location {
    padding: 0 86px 0 12px;
    text-align: left;
    border-right: 2px solid #ECECEC;
}

.board__pickupDate {
    text-align: left;
    padding: 0 74px 0 24px;
    border-right: 2px solid #ECECEC;
}

.board__returnDate {
    text-align: left;
    padding: 0 74px 0 24px;
}

.search__btn {
    background-color: #3398d4;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 14px 24px;
    font-weight: 550;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 12px;
  
}

.search__btn-2 {
    background-color: #3398d4;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 10px 44px;
    font-weight: 550;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 28px;
    margin-bottom: 34px;
}

.search__btn:hover {
    opacity: 0.9;
}

.location__header {
    font-size: 16px;
    font-weight: 550;
    color: #000;
}

.location__search {
    text-decoration: none;
    font-size: 13px;
}

.location__searchbtn {
    font-size: 13px;
    border: none;
    padding: 8px 8px 0 0;
    outline: none;
}

.location__color {
    color: #bab7b7;
    font-weight: 400;
    cursor: text;
}

#contain {
    margin-top: 148px;
    margin-bottom: 100px;
}

.contain__logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal__rentalBody {
    padding: 20px;
}

.date__recieve {
    margin-bottom: 20px;
    color: #000;
}

.date__header {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.date__description {
    font-size: 16px;
    color: #333;
    padding: 8px 18px;
    border: 1px solid #ccc;
    margin-top: 8px;
    font-weight: 600;
    width: 250px;
}

.logo__link {
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
}

.logo__link--img {
    width: 150px;
    transition: transform .5s ease;
    display: block;
    border-radius: 3px;
}

.logo__link--name {
    font-size: 20px;
    color: #000;
    margin-top: 8px;
}

.logo__link--image {
    overflow: hidden;
}

.logo__link:hover .logo__link--name {
    color: #3083FF;
}

.logo__link:hover .logo__link--img {
    transform: scale(1.2);
}

.contain__use {
    text-align: center;
    margin-top: 98px;
}

.use__heading {
    font-size: 40px;
    color: #000;
}

.use__description {
    margin-top: 6px;
    font-size: 22px;
    color: #7d7b7b;
}

.use__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 88px;
    text-align: center;
    padding: 0 80px;
}

.container__location {
    text-align: center;
    margin: 0;
}

.container__font {
    width: 180px;
    height: 110px;
    border-radius: 8px;
    text-align: center;
    padding-top: 40px;
    display: inline-block;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
}

    .container__font i {
        font-size: 70px;
        color: #3398d4;
        display: block;
    }

.container__connect p {
    margin-bottom: 80px;
    color: #ddd;
}

.container__nobox {
    background-color: #3398d4;
    box-shadow: none;
}

.container__fixcolor {
    color: #ffff !important;
}

.container__heading {
    font-size: 26px;
    font-weight: 600;
    margin-top: 34px;
    color: #000;
}

.container__description {
    font-size: 16px;
    color: #7d7b7b;
    margin-top: 6px;
}

.contain__why {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F6FB;
    padding: 100px 0;
}

.contain__img {
    width: 50%;
    padding: 0 48px 0 100px;
    border-radius: 5px;
    display: block;
}

.why__container {
    padding-right: 100px;
}

.why__heading {
    font-size: 15px;
    font-weight: 550;
    color: #BCBDC2;
}

.why__description {
    font-size: 28px;
    font-weight: 600;
    color: #000;
    margin-top: 6px;
    margin-bottom: 28px;
}

.best__price {
    display: flex;
    align-items: center;
    margin-top: 24px;
    padding-right: 80px;
}

.best__price--font {
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 6px;
    margin-right: 20px;
}

.best__price i {
    font-size: 18px;
    color: #3398d4;
}

.best__price--text {
}

.best__price--heading {
    font-size: 18px;
    font-weight: 550;
}

.best__price--des {
    font-size: 16px;
    color: #BCBDC2;
    font-weight: 400;
    margin-top: 4px;
}

.contain__deal {
    text-align: center;
    margin-top: 100px;
}

.deal__container {
    display: flex;
    margin-top: 58px;
}

.deal__item {
    width: 25%;
    padding: 8px 0;
    /* border: solid 1px #a4a3a3; */
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
    margin: 0 14px;
    border-radius: 6px;
    cursor: pointer;
}

.deal__item-image {
    overflow: hidden;
}

.deal__img {
    max-width: 187px;
    height: 127px;
    transition: transform .5s ease;
    display: inline-block;
    text-align: center;
}

.deal__item:hover .deal__img {
    transform: scale(1.2);
}

.deal__feedback {
    font-size: 13px;
    text-align: left;
    padding-left: 28px;
}

    .deal__feedback i {
        color: rgba(238, 238, 10, 0.845);
    }

.deal__point {
    font-weight: 700;
}

.deal__user {
    color: #a4a3a3
}

.deal__namecar {
    margin: 12px 0;
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.deal__intro {
    display: flex;
    padding: 0 12px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #464545;
}

.deal__intro--2,
.deal__intro--1 {
    border: 1px solid #bdbec2;
    border-radius: 6px;
    padding: 4px 6px;
    background-color: #F5F6FB;
}

.deal__footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 12px;
    margin: 14px 0 10px 0;
    font-size: 14px;
    text-decoration: none;
}

.deal__cost {
    font-weight: 600;
}

.deal__watch {
    /* text-decoration: none; */
    color: #000;
}

    .deal__watch:hover {
        color: #3083FF;
    }

.register__driver-one,
.register__driver-two,
.register__driver {
    margin-top: 24px;
    padding: 100px 0;
    background-color: #e8eaef;
}

.register__content {
    max-width: 770px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
}

.content__head {
    display: flex;
    justify-content: space-around;
    padding: 23px 5px;
}

.content__head-border {
    margin: 0 -50px;
    border-bottom: 5px solid #f8f9fb;
}

.head__body {
    position: relative;
}

.head__info--quantity {
    display: block;
    position: relative;
    background-color: #f8f9fb;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    color: #141414;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    border-radius: 100%;
}

.active {
    background-color: #3398d4;
    color: #fff;
}

.body-text {
    display: block;
    color: #a9aaad;
    font-size: 16px;
    padding-top: 10px;
}

.head__body::after {
    position: absolute;
    top: 32px;
    right: -76px;
    content: "";
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    border: 1px solid #141414;
    border-top: none;
    border-left: none;
}

.content__body {
    padding: 40px 0;
}

.register__header {
    display: block;
    margin-bottom: 20px;
    color: #141414;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.5;
}

.register__input {
    background-color: #fff;
    height: 24px;
    border: 1px solid #e8eaef;
    border-radius: 3px;
    /* background-color: initial; */
    line-height: 1rem;
    outline: none;
    margin-top: 18px;
    width: 40%;
    margin-bottom: 50px;
    display: block;
}


input, select, textarea {
    display: inline-block;
    background-color: #fff;
    padding: 14px 20px 13px;
    font-family: "Sanomat Sans","Encode Sans Expanded",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    border: none;
    box-shadow: none;
    width: 100%;
}

textarea {
    width: 100%;
}

.col__left {
    /* float: left; */
    text-align: left;
    width: 50%;
    padding-right: 30px;
}

.col__right {
    /* float: right; */
    /* text-align: right; */
    width: 50%;
    padding-right: 30px;
}

.line__form {
    margin-bottom: 20px;
}

.fill {
    display: flex;
    justify-content: space-between;
}

.content__body .line-form:after {
    clear: both;
    content: "";
    display: table;
}

.label {
    display: block;
    margin-bottom: 10px;
    color: #141414;
    font-size: .875em;
}

.wrap__select {
    display: block;
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 45px;
    border: 1px solid #e8eaef;
}

    .wrap__select select {
        color: #141414;
        position: relative;
        z-index: 2;
        background-color: initial;
        padding-right: 20px;
        border: 0;
        box-shadow: none;
        padding: 14px 20px;
        -webkit-appearance: none;
        appearance: none;
    }

.mt-32px {
    margin-top: 32px;
}

.input__model {
    outline: none;
    width: 85%;
}

.wrap__select::before {
    position: absolute;
    top: 11px;
    right: 5px;
    content: "";
    background: url(/assets/img/arrow.png) 0 -48px no-repeat;
    background-size: 400px 400px;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.wrap__select1::before {
    display: none;
}

 .nameStreet__input {
    z-index: 2;
    background-color: initial;
    padding-right: 20px;
    border: 0;
    box-shadow: none;
    padding: 14px 12px !important;
    -webkit-appearance: none;
    appearance: none;
    width: 460px !important;
    font-size: 16px !important;
    display: flex;
}

.textarea {
    display: block;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #e8eaef;
    border-radius: 3px;
    line-height: 1.5;
    right: 12px;
}

.register__btn {
    max-width: 790px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
    text-align: center;
}

.btn-primary {
    text-align: center;
    width: 395px;
    height: 47px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    background-color: #3398 d4;
    color: #fff;
}

.wr-btn {
    width: 50%;
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
}


.btn-button {
    border: none;
    color: #fff;
    background-color: #3398d4;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.wr-btn--return {
    background-color: #7e7f82;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: -50px;
}


.wr-btn--next {
    background-color: #3398d4;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-left: 18px;
    margin-right: -50px;
    border-radius: 6px;
}


/*Trở thành chủ xe 2 */
#input-file {
    /* opacity: 0; */
}

.enable {
    display: flex;
}

.disable {
    display: none;
}

/* owner success */
.owner__success {
    height: 100%;
    display: flex;next
    justify-content: center;
}

.owner__body {
    margin: 200px auto;
}

.owner__font {
    background-color: #3398d4;
    display: block;
    position: relative;
    width: 120px;
    height: 118px;
    margin: 0 auto 10px;
    color: #141414;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
    border-radius: 100%;
}

    .owner__font > i {
        font-size: 60px;
        padding-top: 34px;
        text-align: center;
        color: #fff;
    }

.owner__body > P {
    margin-top: 12px;
    font-size: 20px;
    color: #bab7b7;
}


/* rental car*/
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: -12px;
    /* margin-right: -12px; */
}

.grid__column-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3333%
}

.grid__column-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.6667%
}

.rent__car {
    margin-top: 38px;
    background-color: #e3e5ea;
    max-height: 100%;
}

.rent__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rent__body {
    border-top: 1px solid #ffff;
}

.rent__header-show {
    padding: 28px 0;
}

    .rent__header-show span {
        font-size: 16px;
        font-weight: 600;
        color: #3083FF;
        display: inline-block;
    }

    .rent__header-show p {
        font-size: 15px;
        display: inline-block;
        margin-left: 8px;
    }

.label-text {
    font-size: 16px;
    font-weight: 600;
}

/*  */
.slider__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-price {
    -webkit-appearance: none;
    width: 90%;
    height: 0px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-radius: 8px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider-price::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: #3083FF;
        cursor: pointer;
    }

    .slider-price::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #3083FF;
        cursor: pointer;
    }

.price__text {
    font-size: 15px;
    font-weight: 500;
    margin-top: 12px;
    margin-left: 180px;
}

#sliderValue {
    font-weight: 700;
    margin-left: 8px;
}

.category {
    background-color: #fff;
    padding: 0 18px;
    margin-top: 18px;
    margin-left: 20px;
}

.seat__quantity {
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.seat__img {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.seat__img-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #f8f9fb;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

    .seat__img-image img {
        height: auto;
        max-width: 100%;
        max-width: 80%;
        padding: 8px;
    }

.seat__img p {
    font-size: 15px;
    color: #000;
}

.list__container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 12px;
    /* justify-content: space-around; */
}

.has__list {
    border: 0;
    font: inherit;
    vertical-align: initial;
    margin: 0;
    padding: 0;
}

/* car list */
.car__rental {
    margin-top: 12px;
    background-color: #fff;
    width: 46%;
    margin: 12px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: top ease-in 0.1s;
    top: 0;
    max-height: 420px;
}

    .car__rental:hover {
        position: relative;
        top: -2px;
        box-shadow: 0 1px 20px 0 rgba(46, 27, 27, 0.05);
    }

.car__img {
    width: 356px;
    height: 260px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-radius: 6px;
}

.car__rental--body {
    padding: 12px;
}

.car__name {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.car__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.quantity-star {
    font-size: 20px;
    font-weight: 700;
}

.car__star i {
    color: #3083FF;
    font-size: 16px;
}

.car__star > span {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.car__price {
    font-size: 18px;
    font-weight: 700;
    color: #3083FF;
}

.car__address {
    margin: 12px 0 6px 0;
}

    .car__address i {
        font-size: 16px;
        color: #3083FF;
    }

    .car__address span {
        color: #000;
    }

/* modal  */
.modal__myCar,
.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* align-items: center; */
    justify-content: center;
    z-index: 5;
    overflow: auto;
    overflow-y: scroll;
    transition: .25s ease-in-out;
    display: none;
}

.modal__container {
    position: relative;
    animation: modalanimation ease 0.5s;
}

@keyframes modalanimation {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal__close {
    text-align: right;
    font-size: 30px;
    color: #fff;
    display: block;
    font-weight: 300;
    margin: 40px 60px 60px;
    cursor: pointer;
}

    .modal__close i {
        padding: 10px;
    }

.modal__body {
    display: flex;
    /* align-items: center; */
}

.modal__content {
    flex: 2;
    margin: 0 12px;
    width: 668px;
}

.modal__header {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.modal__img img {
    width: 768px;
    object-fit: cover;
    height: 360px;
    background-image: content;
}

.modal__rental {
    flex: 1;
    margin: 0 12px;
    background-color: #ffff;
    margin-top: 64px;
    margin-bottom: 1044px;
    border-radius: 6px;
}



.modal__description {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 4px;
}

.modal__feature {
    display: flex;
    justify-content: space-between;
    padding: 26px;
    align-items: center;
}

    .modal__feature .feature__text {
        flex: 1;
        color: #a9aaad;
        font-size: 18px;
        font-weight: 600;
    }

.feature__body {
    width: 70%;
    display: flex;
    justify-content: space-around;
    color: #000;
}

.feature__body-1 {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
}

    .feature__body-1 li {
    }

        .feature__body-1 li i {
            display: inline-block;
            margin-bottom: 12px;
            margin-right: 8px;
            opacity: 0.8;
        }

        .feature__body-1 li p {
            display: inline-block;
        }

.description {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    color: #000;
}

.feature__list {
    list-style-type: none;
    color: #000;
}

    .feature__list li {
        font-size: 14px;
        opacity: 0.9;
        margin: 8px 124px 8px 0;
    }

.feature__rent-1 ul {
    list-style-type: none;
    color: #000;
}

.feature__rent-1 p {
    color: #000;
}

.feature__rent {
    color: #000;
}

    .feature__rent ul li {
        font-size: 14px;
        margin: 14px 0;
        color: #000;
    }

/* modal rental */
.modal__priceCar {
    padding: 30px 0;
    text-align: center;
    color: #000;
}

.price {
    color: #000;
}

    .price span {
        color: #3083FF !important;
    }

.destroy__btn {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    margin-top: 10px;
    background-color: #3398d4;
    cursor: pointer;
}

.modal__priceCar .date {
    color: #000;
}

.modal__priceCar .price {
    font-size: 40px;
    font-weight: 700;
}

.Booking__btn {
    margin: 20px auto;
    font-size: 18px;
    font-weight: 700;
    color: #ffff;
    padding: 12px;
    border: none;
    width: 200px;

}

.active {
    display: block !important;
}

.grid__column-5 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    float: right;
}

/*  */
.modal__owner {
    text-align: center;
    padding: 28px 0;
}

.Owner__img {
    width: 74px;
    border-radius: 60px;
    margin-bottom: 8px;
}

.name__Owner {
    color: #A9AAAD;
    font-weight: 600;
    font-size: 20px;
}

.Owner__name {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-top: 6px;
}

.list__evalue {
    list-style: none;
}

    .list__evalue .list__item {
        display: inline-block;
        padding: 8px 4px;
        font-size: 14px;
        color: #000;
    }

        .list__evalue .list__item i {
            color: #3398d4;
            font-size: 13px;
        }

.Owner__footer {
    font-size: 14px;
    color: #A9AAAD;
}

.evalue-description {
    padding: 28px 20px;
}

.elvalue__header {
    font-size: 24px;
    color: #000;
    padding-bottom: 28px;
    border-bottom: 1px solid #A9AAAD;
}

.elvalue__user {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #A9AAAD;
}

.elvalue__content {
    /* flex: 3; */
    margin-left: 28px;
}

.elvalue__customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elvalued .name {
    font-size: 16px;
    color: #A9AAAD;
    font-weight: 600;
}

.evaluated {
    width: 100px;
}

.elvalued .stared {
    font-size: 12px;
    color: #3083FF;
}

.elvalue__time {
    text-align: right;
    margin-left: 300px;
    color: #000;
}

.elvalue__cmt {
    margin-top: 18px;
    color: #000;
    font-size: 15px;
}

.take__address {
    margin-top: 34px;
}

.total__header,
.address__header {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.address__specific i {
    font-size: 15px;
    color: #3083FF;
    margin-right: 8px;
}

.address__name {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.total__price {
    margin-top: 28px;
    color: #000;
}

.price__car {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total__finish {
    margin: 12px 0;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.price__carTotal {
    font-weight: 700;
    padding-top: 16px;
    font-size: 16px;
}

.booking__btn {
    font-size: 20px;
    color: #ffff;
    background-color: #3398d4;
    cursor: pointer;
    margin-top: 76px;
    margin-bottom: 32px;
    border-radius: 6px;
    border: none;
    width: 100%;
    padding: 12px 80px;
    font-weight: 700;
}

    .booking__btn:hover {
        opacity: 0.8;
    }

.success__payCar {
    background-color: #3398d4;
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    color: #141414;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
    border-radius: 100%;
}

    .success__payCar > i {
        font-size: 50px;
        padding-top: 24px;
        text-align: center;
        color: #fff;
    }

.success__body {
    text-align: center;
    font-size: 17px;
    color: #7d7b7b;
}

.success__body p {
        margin-top: 8px;
}

.success__body p span {
    font-weight: 700;
}

.success__body p a {
    color: #3398d4;
}

success__payCar {
    background-color: #3398d4;
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    color: #141414;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
    border-radius: 100%;
}

.success__payCar > i {
    font-size: 50px;
    padding-top: 24px;
    text-align: center;
    color: #fff;
}

.success__body {
    text-align: center;
    font-size: 17px;
    color: #7d7b7b;
}

    .success__body p {
        margin-top: 8px;
    }

        .success__body p span {
            font-weight: 700;
        }

        .success__body p a {
            color: #3398d4;
        }


/* deposit */
/* deposit car*/
.deposit__header {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 38px;
}

.deposit__content {
    /* text-align: center; */
}

    .deposit__content p {
        font-size: 18px;
        color: #000;
    }

.deposit__car {
    font-family: "Haas Grot Text R Web","Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    /* text-align: center; */
    /* min-height: 1000px;*/
}

.deposit__body {
    /* text-align: center; */
    margin-top: 100px;
    /* min-width: 500px; */
    background-color: #f5f4f7;
    padding: 38px 80px 38px 80px;
    border-radius: 8px;
}

.deposit__text {
    color: #000;
    font-size: 18px;
}

.deposit__specific {
    font-size: 15px;
    text-align: left;
    margin-top: 12px;
}

    .deposit__specific i {
        font-size: 14px;
        color: #3083FF;
        margin-right: 4px;
    }

.deposit__input {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 38px;
}

.deposit__specific .deposit-data {
    font-weight: 700;
    font-size: 16px;
    color: #3398d4;
}

.deposit__image h4 {
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 10px;
}

.deposit__btn {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 5px;
    min-width: 460px;
    padding: 12px 0;
    background-color: #3398d4;
    margin-top: 18px;
    margin-bottom: 14px;
}

    .deposit__btn:hover {
        cursor: pointer;
        opacity: 0.8;
    }


.myrental {
    margin: 5% auto 0;
    max-width: 1200px;
}

.myOrder {
    margin: 5% auto 0;
    max-width: 850px;
}

.tabs {
    display: flex;
    position: relative;
}

    .tabs .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: #c23564;
        /* background-color: #3398d4; */
        transition: all 0.2s ease;
    }

.tab-item {
    min-width: 80px;
    padding: 16px 22px 11px 22px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #c23564;
    /* color: #3398d4; */
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab__img {
    font-size: 24px;
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);

}

.tab-item.activity {
    opacity: 1;
}

.tab__content {
    padding: 68px 0 48px 0;
}

.tab__pane {
    display: none;
}

    .tab__pane.activity {
        display: block;
    }

.list__rental {
    list-style-type: none;
    height: 500px;
    overflow-y: scroll;
}

    .list__rental::-webkit-scrollbar {
        width: 10px;
    }

    .list__rental::-webkit-scrollbar-thumb {
        border-radius: 100rem;
        background-color: rgb(51, 152, 212, 0.2);
    }

    .list__rental::-webkit-scrollbar-track {
        /* background-color: #ccc; */
        border-radius: 100rem;
    }



.item__rental {
    padding: 30px 24px;
    background-color: #F5F6FB;
    border-radius: 6px;
    margin-top: 12px;
}

.link__rental {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    text-decoration: none;
    cursor: default;
}

.img__rental {
    width: 140px;
    object-fit: cover;
}

.rental__container {
    flex: 2;
    margin-left: 16px;
}

    .rental__container .header {
        font-size: 24px;
        font-weight: 600;
        color: #000;
        margin: -10px 0 12px 0;
    }

    .rental__container .body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: #000;
    }

.body__status {
    margin: 12px 0;
}

    .body__day .day .data,
    .body__status .status,
    .owner__status .accept,
    .price .data {
        font-weight: 700;
        color: #3398d4;
    }

.item__rental:hover {
    opacity: 1;
    background-color: rgb(53, 154, 212, 0.05);
    border-color: rgba(53, 154, 212, 0.1);
}

.body__right .rental__btn {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 14px;
    background-color: #3083FF;
    cursor: pointer;
}

    .body__right .rental__btn:hover {
        opacity: 0.9;
    }

.body__name {
    margin: 10px 0;
}

.receive__btn {
    margin-left: 10px;
    padding: 8px 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    background-color: #3398d4;
}


/* Evaluate and commnet */


.stars {
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #484747;
}

    .stars > input {
        display: none;
    }

    .stars > label:before {
        content: '\2605';
        font-size: 24px;
        margin: 5px;
        cursor: pointer;
    }

    .stars > input:checked ~ label:before,
    .stars:hover > input ~ label:before {
        content: '\2605';
        color: gold;
    }

.comment {
    margin-top: 10px;
}

    .comment > textarea {
        width: 100%;
        height: 100px;
        margin-top: 12px;
    }

.submit-btn {
    margin-top: 18px;
}

.evaluate__btn {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #3398d4;
    border-radius: 6px;
    border: none;
    padding: 12px 20px;
}

    .evaluate__btn:hover {
        cursor: pointer;
        opacity: 0.8;
    }

/* myCar */
.myCar {
    margin: 5% auto 0;
    max-width: 850px;
    font-family: sans-serif;
}

.myCar__header {
    margin-bottom: 32px;
    font-size: 38px;
    text-align: center;
}

.total__rented {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

    .total__rented span {
        color: #3398d4;
        font-size: 18px;
        font-weight: 600;
    }

.edit__Btn {
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    margin: 10px 0;
    background-color: #3398d4;
}

    .edit__Btn:hover {
        opacity: 0.9;
        cursor: pointer;
    }

.myCar__footer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 100px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

    .myCar__footer p {
        font-size: 18px;
        font-weight: 600;
        color: #000;
    }

        .myCar__footer p span {
            font-weight: 700;
            color: #3398d4;
            font-size: 18px;
        }

.modal__myCar {
    display: none;
}

.content__myCar {
    background-color: #fff;
    padding: 50px 100px 50px 100px;
    border-radius: 6px;
}

.modal__name {
    text-align: center;
    font-size: 38px;
    color: #000;
    font-weight: 600;
    margin-bottom: 44px;
}

.edit__btn {
    margin-top: 24px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 16px 46px;
    border: none;
    border-radius: 6px;
    background-color: #3398d4;
    cursor: pointer;
}

.edit__btn {
    opacity: 0.9;
}

.edit {
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.disable1 {
    display: none;
}

.myCar__close {
    margin: 40px 60px 30px;
}

.myCar__body {
    margin-bottom: 60px;
}

/* toast modal promotion */
#toast__reActive,
#toast {
    position: fixed;
    top: 300px;
    right: 700px;
    z-index: 5;
    display: none;
}

.toast {
    position: absolute;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 20px 20px 0;
    border-radius: 2px;
    border-left: 4px solid;
    /*box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);*/
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width: 600px;
    max-width: 600px;
    transition: all linear .3s;
    /* fadeOut: sau khi trượt vào thì 3s sau mờ đi trong
    vòng 1s, forwards: dùng ở điểm cuối của animation*/
     animation: sliderInleft ease .3s; 
    /* animation: sliderInleft ease .3s, fadeOut linear 1s 3s forwards; */
}

@keyframes sliderInleft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast__body {
    flex-grow: 1;
}

.toast__icon {
    font-size: 24px;
}

.toastReActive__close,
.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    line-height: 20px;
    font-size: 14px;
    color: #888;
    margin-top: 4px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__warning {
    border-color: #ffc021;
}

    .toast__warning .toast__icon {
        color: #ffc021;
    }

.toast__msg span {
    color: #3398d4;
    font-weight: 600;
}

.toastReActive-btn,
.toast-btn {
    font-size: 14px;
    font-weight: 600;
    color: #ffff;
    border: none;
    border-radius: 6px;
    margin-top: 18px;
    padding: 10px 12px;
    background-color: #3398d4;
    opacity: 0.8;
    cursor: pointer;

}



/* Hide the images by default */
.mySlides {
    display: none;
    
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
        z-index: 5;
    }

    to {
        opacity: 1
    }
}

.car-img {
    width: 688px;
    height: 360px;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    z-index: 5px;
}


