
@{
    ViewData["Title"] = "OwnerOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- layout my order car -->
<div class="myOrder ">
    <div class="tabs">
        <div class="tab-item activity">
            <img class="tab__img" src="./assets/img/waiting-room-read.png" alt="">
            Yêu cầu xác nhận
        </div>
        <div class="tab-item ">
            <img class="tab__img" src="./assets/img/check.png" alt="">
            Đã xác nhận
        </div>
        <div class="tab-item">
            <img class="tab__img" src="./assets/img/icon-car.png" alt="">
            Đang thuê
        </div>
        <div class="tab-item">
            <img class="tab__img" src="./assets/img/check-icon.png" alt="">
            Đã hoàn thành
        </div>
        <div class="line"></div>
    </div>

    <div class="tab__content">
        <div class="all tab__pane activity">
            <ul class="list__rental">
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>
                                    <p class="body__status">Tình trạng cọc: <span class="status">Đã chuyển</span></p>
                                    <p style="margin-top: 20px;" class="owner__status">Xác nhận đã nhận cọc: <span><button class="receive__btn">Xác nhận</button></span></p>
                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>
                                    <p class="body__status">Tình trạng cọc: <span class="status">Đã chuyển</span></p>
                                    <p style="margin-top: 20px;" class="owner__status">Xác nhận đã nhận cọc: <span><button class="receive__btn">Xác nhận</button></span></p>
                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>
                                    <p class="body__status">Tình trạng cọc: <span class="status">Đã chuyển</span></p>
                                    <p style="margin-top: 20px;" class="owner__status">Xác nhận đã nhận cọc: <span><button class="receive__btn">Xác nhận</button></span></p>
                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>
                                    <p class="body__status">Tình trạng cọc: <span class="status">Đã chuyển</span></p>
                                    <p style="margin-top: 20px;" class="owner__status">Xác nhận đã nhận cọc: <span><button class="receive__btn">Xác nhận</button></span></p>
                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="yet tab__pane">
            <ul class="list__rental">
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>

                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>

                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>

                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>

                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="renting tab__pane ">
            <ul class="list__rental">
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>
                                    <p style="margin-top: 20px;" class="owner__status">Xác nhận đã thanh toán, nhận xe, trả cọc: <span><button class="receive__btn">Xác nhận</button></span></p>
                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>
                                    <p class="body__day body__name">
                                        <span class="day">Tên khách hàng: <span class="data">Lê Trung Đông</span></span>
                                        <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">0353504691</span></span>
                                    </p>
                                    <p style="margin-top: 20px;" class="owner__status">Xác nhận đã thanh toán, nhận xe, trả cọc: <span><button class="receive__btn">Xác nhận</button></span></p>
                                </div>
                                <div class="body__right">
                                    <div class="price"><span class="data">21212k</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="done tab__pane ">
            <ul class="list__rental">
                <li class="item__rental">
                    <div href="" class="link__rental">
                        <img src="./assets/img/huyndai4cho.jpg" alt="" class="img__rental">
                        <div class="rental__container">
                            <h3 class="header">HuynDai 2020 4 chỗ </h3>
                            <div class="body">
                                <div class="body__left">
                                    <span class="body__day">
                                        <span class="day">Ngày nhận: <span class="data">22/02/2023</span></span>
                                        <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">24/02/2023</span></span>
                                    </span>

                                </div>
                                <div class="body__right">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- layout my rental car -->
<script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    const tabs = $$('.tab-item')
    const panes = $$('.tab__pane')

    const tabActive = $('.tab-item.activity')
    const line = $('.tabs .line')

    line.style.left = tabActive.offsetLeft + 'px';
    line.style.width = tabActive.offsetWidth + 'px'

    tabs.forEach((tab, index) => {
        var pane = panes[index]
        tab.onclick = () => {
            $('.tab-item.activity').classList.remove('activity')
            tab.classList.add('activity')

            line.style.left = tab.offsetLeft + 'px';
            line.style.width = tab.offsetWidth + 'px'

            $('.tab__pane.activity').classList.remove('activity')
            pane.classList.add('activity')
        }
    })
</script>

